__pycache__
WorkSheets
images
data
114
flower_dataset
pen_dataset
model
pixabay_test
pixabay_output
face_dataset
movie_dataset
movie_dataset_output
mediapipe
dog_dataset
dog_dataset_output
weights
mnist_weights.h5
crawler
lstm_sun
professor file
outputs
my_yolo
YOLO
.cometml-runs
Reinforce Learning
TrainingCustomData
gen_images
gen_f_images
training_checkpoints
GAN
Cars Dataset
output2
image
model_testing
models
output
video
면접.md
mp3_files
test_image
BubbleDataset
chromedriver.exe
nlp
NLP_Project/nlp_project
my_secret_key.py
.env
db.sqlite3
chest_xray
image data
fruit_dataset
apple_dataset
apple_dataset2
cassava_dataset
coral_dataset
coral_sub_dataset
apple_data_augged
apple_data_augged2
target
target_data
corn_dataset
corn_modeling_dataset
CottenDataset
cotten_dataset
cotten_model_data
cotten_model
not_auggmented_data
geti.db
node_modules
package-lock.json
package.json
my_cotten_data
static
data2