<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="SignUp, Login, Register">
    <meta name="keywords" content="Sign up, Sign in">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
  <section class="login_section">
    <div class="container outer_container accounts_container">
      <div class="row h-100">
        <div class="col col-sm-12 col-md-12 col-lg-8 m-0 p-0 w-100 h-100 accounts_col">
          <div class="accounts_image w-100 h-100">
            <img src="https://img.freepik.com/free-photo/social-media-instagram-digital-marketing-concept-3d-rendering_106244-1717.jpg?t=st=1647414398~exp=1647414998~hmac=2c478ef6affd973ccd71ea4d394d9283db4a0c6c4c686ba0b9f6091c8a56e5a1&w=1480" alt="accounts_image" class="img-fluid w-100 h-100" />
          </div>
        </div>
        <div class="col col-sm-12 col-md-12 col-lg-4 m-0 p-0 accounts_col">
          <div class="accounts_forms  w-100 h-100" id="login">
            <div class="title  mt-4 p-4 w-100">
              <h1>Sign In</h1>
            </div>
            <form method="post" name="form" class="form  w-100 p-4" id="form">
              {{ form.csrf_token }}
              <div class="form-group">
                <label for="userid" class="floatLabel">ID</label>
                <input type="text" name="userid" class="form-control" id="userid"
                value="{{form.userid.data or ''}}" onfocus="labelUp(this)" onblur="labelDown(this)" required />
              </div>
              <div class="form-group">
                <label for="password" class="floatLabel">PW</label>
                <i class="fa fa-eye-slash" id="eye_icon_login"></i>
                <input type="password" name="password" class="form-control" id="password"
                value="{{form.password.data or ''}}" onfocus="labelUp(this)" onblur="labelDown(this)" required />
              </div>
              <div class="form-group mb-0">
                <button type="submit" class="btn btn-primary register_btn w-100">로그인</button>
                {%with messages = get_flashed_messages()%}
                {%if messages %}
                    <script type="text/javascript">
                        alert("{{messages[-1]}}");
                    </script>
                    {%endif%}
                {%endwith%}
              </div>
            </form>

            <div class="already_member_box d-flex justify-content-between px-4">
              <span class="text-center" id="to_signup"><a href="{{ url_for('main.sign_up') }}">회원이 아니신가요?</a></span>
              <span class="text-center">비밀번호 찾기</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>