<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {{ form.csrf_token }}
        <h2>Sign Up</h2>
            <p>
                <label for="username" class="floatLabel">이름</label>
                <input id="username" name="username" type="text" 
                value = "{{ form.username.data or '' }}" required>
            </p>    
            <p>
                <label for="userid" class="floatLabel">ID</label>
                <input id="userid" name="userid" type="text"
                value = "{{ form.userid.data or '' }}" required>
            </p>
            <p>
                <label for="password1" class="floatLabel">Password</label>
                <input id="password1" name="password1" type="password"
                value = "{{ form.password1.data or '' }}" required>
            </p>
            <p>
                <label for="password2" class="floatLabel">Confirm Password</label>
                <input id="password2" name="password2" type="password"
                value = "{{ form.password2.data or '' }}"  required>
            </p>
            <p>
                <label for="phone" class="floatLabel">휴대폰 번호</label>
                <input id="phone" name="phone" type="text"
                value = "{{ form.phone.data or '' }}" required>
            </p>
            <p>
                <input type="submit" value="회원가입" id="submit">
                {%with messages = get_flashed_messages()%}
                    {%if messages %}
                        <script type="text/javascript">
                            alert("{{messages[-1]}}");
                        </script>
                    {%endif%}
                {%endwith%}
            </p>
      </form>
</body>
</html>